.composition{
    position: relative;

    &__photo{
        width: 55%;
        border-radius: 2px;
        z-index: 10;
        box-shadow: .5rem 1.5rem 4rem rgba($color-black,0.2);
        outline-offset: 2rem;
        transition: all .2s;

        &--p1{
            position: absolute;
            top: -2rem;
            left:0;
        }
        &--p2{
            position: absolute;
            top: 2rem;
            right:0;
        }
        &--p3{
            position: absolute;
            top: 10rem;
            left:20%;
        }

        &:hover{
            outline: 1.5rem solid $color-medium-green;
            z-index: 20;
            transform: translateY(-.5rem) scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black,0.5);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }

}
